@charset "UTF-8";

:root{
    --cor_mais_escura: #0F2A1D;
    --cor_do_fundo: #375534;
    --cor_do_main: #E3EED4;
}

body{
    font: normal normal 1em arial, sans-serif;
    background-color: var(--cor_do_fundo);
    color: var(--cor_mais_escura);
}

header{
    color: var(--cor_do_main);
    text-align: center;
    text-shadow: 2px 2px 5px #00008b9d;
}

section{
    background-color: var(--cor_do_main);
    border-radius: 10px;
    padding: 15px;
    width: 450px;
    margin: auto;
    box-shadow: 2px 2px 5px #00008b88;
}

footer{
    color: var(--cor_do_main);
    text-align: center;
    font-style: italic;
}