@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Momo+Trust+Sans:wght@200..800&display=swap');

:root{
    --fonte-display: 'Momo Trust Display', arial, sans-serif;
    --font-txt: 'Momo Trust Sans', arial, sans-serif;
    --cor-escura-1: #011d12;
    --cor-escura-2:#082c2c;
    --cor-base: #03624c;
    --cor-clara-1: #00df81;
    --cor-clara-2: #2cc295;
    --cor-clara-3: #e3f8f5;
}

*{/*esse espaço é para resetar o espaçamento*/
    /*----[RESET DE ESPAÇAMENTO]----*/
    padding: 0;
    margin: 0;
}

body{
    /*----[ALINHAMENTO]----*/
    display: flex;
    justify-content: center;

    /*----[TXT CONFIG]----*/
    font-family: var(--font-txt);
    color: var(--cor-base);
    font-weight: normal;
    font-style: normal;
    
    /*----[DESIGN]----*/
    background-color: var(--cor-escura-2);
    min-height: 100dvh;
}

main{
    /*----[ESPAÇAMENTO]----*/
    margin: auto;
    display: grid;

    /*----[TXT CONFIG]----*/
    text-align: center;

    /*----[DESIGN]----*/
    width: clamp(300px, 450px, 670px);
    min-height: 120px;
    border-radius: 10PX;
    background-color: var(--cor-clara-3);
}

input{
    /*----[ESPAÇAMENTO]----*/
    width: 20px;
    /*----[TXT CONFIG]----*/
    text-align: center;
    color: ;
}

/*--[Chrome, Safari, Edge, Opera]--*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
  margin: 0;
}


#result{
    /*----[ESPAÇAMENTO]----*/
    display: none;
    margin: auto;

    /*----[TXT CONFIG]----*/
    text-align: center;
    font-size: 1.2rem;
    font-weight: bolder;
    color: var(--cor-escura-2);

    /*----[DESIGN]----*/
    width: 75%;
    height: auto;
    border-radius: 5px;
    background-color: var(--cor-clara-2);

}